@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

body {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 100%;
  font-family: "Tenor Sans", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 8vw;
  line-height: 20%;
}

.nav-item:hover {
  color: rgb(190, 150, 169);
}

.nav-item:active {
  text-decoration: underline;
}

.nav-item {
  color: white;
  text-decoration: none;
}

#colorblock {
  background-color: rgb(190, 150, 169);
  min-height: 100%;
}

#colorblock-row {
  background-color: orange;
}

#container {
  background-color: rgb(83, 135, 231);
}
