@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

body {
  background-color: rgb(221, 216, 204);
  color: white;
  height: 100%;
  font-family: "Tenor Sans", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 8vw;
  line-height: 70%;
}

a {
  color: white;
}

.title {
  padding-bottom: 3em;
  color: white;
}

.content {
  padding: 3em;
  color: rgb(39, 40, 46);
}

.body {
  border: white solid 2px;
  padding: 1em;
  border-bottom: none;
  border-right: none;
}

.nav-item:hover {
  color: rgb(190, 150, 169);
}

.nav-item:active {
  text-decoration: underline;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.project-card {
  border: solid white 1px;
  width: 20vw;
  height: 20vw;
  position: relative;
}

.project-photos {
  height: 100%;
  width: 100%;
}

.project-card {
  color: rgb(0, 0, 0, 0);
  margin-right: 25px;
}

.project-card:hover {
  color: rgb(255, 255, 255);
}

.project-card:hover img {
  opacity: 0.5;
}

.carousel-control-next,
.carousel-control-prev {
  top: 3em;
}

.carousel {
  position: absolute;
  top: 3em;
  padding-right: 1em;
  padding-top: 1em;
}

.ReactModal_Content ReactModal_Content--after-open {
  inset: 120px;
}

#project-overlay {
  position: absolute;
  top: 40%;
  left: 25%;
  text-align: center;
}

#project-title {
  font-size: 2.5em;
}

#project-content button {
  border: 0;
  background: none;
}

#hello {
  align-self: right;
}

#homepage-row {
  height: 100vh;
}

#colorblock,
#nav-column {
  background-color: rgb(39, 40, 46);
  height: 100vh;
}

#colorblock-row {
  height: 100vh;
  padding: 0;
}

#container {
  padding: 2em;
}

#nav-column {
  /* padding-right: 2em; */
}

#body-column,
#colorblock-column {
  padding: 0;
}

#modal-close-button {
  border: none;
  background: none;
  float: right;
  padding-bottom: 1em;
}

#modal-close-button:hover {
  color: grey;
}
